body{
    background-color: rgb(180, 180, 180);
    font-family:"Fuggles" ;
}

#btn_parapluie, #btn_chaise{
    font-size: 3.5rem;
    text-decoration: none;
    color: rgb(80, 80, 80);
   

}
#btn_parapluie:hover, #btn_chaise:hover{
    color: black;
   
}

.list{
    text-align: center;
    margin-top: 200px;
    list-style: none;
 
    line-height: 150px;
}